<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
<div th:replace="common/header :: navbar"> </div>

<!-- Contact Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="section-title position-relative text-center mb-5">Log In To Your Account</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">
          <div id="success"></div>
          <form name="sentMessage" id="contactForm" novalidate="novalidate" th:action="@{/login}" method="post">
            <div class="form-row">
              <div class="col-sm-6 control-group">
                <input required="required" type="text" class="form-control p-4" placeholder="Username" name="username"
                       th:classappend="${param.error} ? is-invalid"  />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input required="required" type="password" class="form-control p-4" placeholder="Password" name="password"
                       th:classappend="${param.error} ? is-invalid" />
                <div class="invalid-feedback">Incorrect username or password</div>
              </div>
            </div>

            <div>
              <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<br/><br/><br/><br/>
    <h1 class="section-title position-relative text-center mb-5">Create a New Account</h1>

    <!-- Register Form -->
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">


      <form th:action="@{/new-user}" method="post">
        <div class="form-group text-center">
          <h2 class="bold">Register</h2>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i data-feather="mail"></i>
            <input required="required" type="email" class="form-control" th:classappend="${emailExists} ? is-invalid"
                   name="email" placeholder="Email address" th:value="${email}">
            <div class="invalid-feedback">Email is already in use</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i data-feather="user"></i>
            <input required="required" type="text" class="form-control" th:classappend="${usernameExists} ? is-invalid"
                   placeholder="Username" name="username" th:value="${username}">
            <div class="invalid-feedback">Username is already in use</div>

          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i data-feather="lock"></i> <input type="password" required="required"
                                               class="form-control" name="new-password"
                                               placeholder="Password" autocomplete="new-password">
          </div>
        </div>
        <button type="submit"
                class="btn btn-primary btn-block py-3 px-5">Register</button>
      </form>
      </div>
    </div>
  </div>




    </div>

  </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
  <div class="container text-center py-5">
    <div class="row">
      <div class="col-12 mb-4">
        <a href="index.html" class="navbar-brand m-0">
          <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">i</span>CREAM</h1>
        </a>
      </div>
      <div class="col-12 mb-4">
        <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-secondary btn-social" href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="col-12 mt-2 mb-4">
        <div class="row">
          <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
            <h5 class="font-weight-bold mb-2">Get In Touch</h5>
            <p class="mb-2">123 Street, New York, USA</p>
            <p class="mb-0">+012 345 67890</p>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <h5 class="font-weight-bold mb-2">Opening Hours</h5>
            <p class="mb-2">Mon – Sat, 8AM – 5PM</p>
            <p class="mb-0">Sunday: Closed</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="m-0">&copy; <a href="#">Domain</a>. All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>