<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{./styles.css}">
    <script th:src="@{./main.js}" defer></script>
</head>
<body>
<div th:replace="layout/header :: header"></div>

<div class="container mt-5">
    <h2>Product List</h2>
    <div class="row">
        <!-- Loop through products from backend and display them -->
        <div class="col-md-4 mb-4" th:each="produit : ${products}">
            <div class="card">
                <img th:src="@{'/images/' + ${produit.image}}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${produit.productName}"></h5>
                    <p class="card-text" th:text="${produit.productDescription}"></p>
                    <p class="card-text">Price: $<span th:text="${produit.productPrice}"></span></p>
                    <a th:href="@{'/produit/details/' + ${produit.productId}}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>
