<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>E-commerce App</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">E-commerce</a>
    <!-- Add navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
        </ul>
    </div>
</nav>
